.inner {
    width: 100px;
    height: 50px;
    /* background-color: red; */
    /* margin: inherit;
    padding: inherit; */
    border: inherit;
    background: inherit;
}

.outer {
    /* background-color: #bbb; */
    background: url("background.png");
    background-size: cover;
    /* margin: 20px; */
    padding: 10px;
    border: 2px solid black;
}

/*
background properties are not inherited. If you remove the 
background-color however, the inner divs will all turn grey.
This is not because it is inheriting the background-color from
the parent. It is happening because the inner divs are 
transparent.
*/